saved_features
saved_explanations
#saved_evaluations
saved_autoencoders
*.egg-info
*__pycache__
.gitignore
extras
*.pt
*.log
raw_features
processed_features
raw_features_fine
processed_features_fine
results
.gitignore
saved_explanations